
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="text-logo" color="light" size="small"><strong>Nueva categoría</strong></ion-title>

  </ion-toolbar>
</ion-header>

<!-- Themes  register-flat-->
<ion-content>
  <ion-grid class="ion-no-padding">
    <!-- logo -->
    <ion-row class="header ion-align-items-start ion-align-items-stretch">
      <ion-col size="10" offset="1" size-md="6" offset-md="3">
        <img class="logo" src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-standard.png?hl=es" />
      </ion-col>

      <!-- Section form>-->
      <ion-col size="10" offset="1" size-md="6" offset-md="3">
        <form padding>
          <ion-row class="ion-align-items-start">
            <ion-col size="12">
              <h1><strong class="text-logo">Cupones,</strong> crea un nuevo cupon.</h1>
            </ion-col>
          </ion-row>
          <!-- Input-field -->
          <ion-row>
            <ion-col size="12">
              <div class="input-field">
                <!-- Input-field-text -->
                <ion-item >
                  <ion-input type="text" placeholder="codigo" [(ngModel)]="credentials.code" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>

                <ion-item >
                  <ion-input type="number" placeholder="monto a descontar" [(ngModel)]="credentials.price" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>

                <ion-item >
                  <ion-select slot="end" interface="popover" [(ngModel)]="credentials.state" ok-text="OK" cancel-text="CANCEL" placeholder="Elija estado del cupon" [ngModelOptions]="{standalone: true}">
                  
                    <ion-select-option  value="1">ACTIVO</ion-select-option>
                    <ion-select-option  value="2">INACTIVO</ion-select-option>
                    
  
                  </ion-select>
                </ion-item>
                <!-- Input-field-text -->
                
              </div>
              <!-- Login button -->
              <ion-col size="12" class="ion-no-padding">
                <button class="btnFull ion-no-margin" (click)="validator()">Guardar</button>
              </ion-col>

            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


