<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
		<ion-menu-button color="light" menu="first"></ion-menu-button>
	  </ion-buttons>
    <ion-title color="light">Mis cupones de descuento</ion-title>
    
      <ion-button class="animate__animated animate__bounce" expand="block" color="success" slot="end" (click)="createCupon()">crear cupon</ion-button>

  </ion-toolbar>
  
</ion-header>

<ion-content fullscreen="true">
  <ion-row>
    <!-- <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" offset-md="3" offset-lg="3" offset-xl="4"> -->
    <ion-col *ngFor="let cupon of cupones" size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3" class="animated flash slow">
      <ion-card class="borderradius" >
      	<ion-card-header>

      		<ion-chip *ngIf="cupon.state == 1" class="derechactivo">
      			<ion-label><i>Activo</i></ion-label>
          </ion-chip>
          <ion-chip *ngIf="cupon.state == 0" class="derechainactivo">
      			<ion-label><i>Inactivo</i></ion-label>
      		</ion-chip>
      		<ion-item class="cardHeader">
      			<ion-avatar slot="start">
      				<img class="avatar" src="../assets/images/teloconsigo.png">
      			</ion-avatar>
      			<ion-label>
      				<h3 class="text-name">{{cupon.code}}</h3>
      				<p class="text-sub-name">{{cupon.created_at}}</p>
      			</ion-label>
      		</ion-item>      		
      	</ion-card-header>
        
        
        
        <ion-card-content>
        	<ion-row>
        		<ion-col size="5">
        			<span class="title-factura-left">{{cupon.price}}</span>
        		</ion-col>
        		<ion-col size="7" *ngIf="cupon.state == 1">
        			<ion-button expand="block" color="danger" (click)="updateCupon(cupon.id,0)">Desactivar</ion-button>
				</ion-col>
				<ion-col size="7" *ngIf="cupon.state == 0">
        			<ion-button expand="block" color="success" (click)="updateCupon(cupon.id,1)">Activar</ion-button>
        		</ion-col>

        		
        	</ion-row>
        </ion-card-content>
      </ion-card>
	</ion-col>
  </ion-row>

  <ion-row *ngIf="!cupones.length">
	<ion-col *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]" size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3" class="animate__animated animate__flash">
		<ion-card class="borderradius" >
			<ion-card-header>
  
				<ion-chip  class="derechaske">
					<ion-label>
						<h3>
							<ion-skeleton-text width="100%"></ion-skeleton-text>
						</h3>
					</ion-label>
				</ion-chip>
			
				<ion-item class="cardHeader">
					<ion-avatar slot="start">
						<ion-skeleton-text width="100%"></ion-skeleton-text>
					</ion-avatar>
					<ion-label>
						<ion-skeleton-text width="80%"></ion-skeleton-text>
						<ion-skeleton-text width="60%"></ion-skeleton-text>
					</ion-label>
				</ion-item>      		
			</ion-card-header>
		  
		  
		  
		  <ion-card-content>
			  <ion-row>
				  <ion-col size="5">
					<ion-skeleton-text width="50%"></ion-skeleton-text>
				  </ion-col>
				  <ion-col size="7" >
					<ion-skeleton-text width="70%"></ion-skeleton-text>
				  </ion-col>
  
				  
			  </ion-row>
		  </ion-card-content>
		</ion-card>
    </ion-col>
  </ion-row>
</ion-content>
