<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Nuevo producto</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>

  
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="credentials.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input [(ngModel)]="credentials.quantity" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input [(ngModel)]="credentials.price" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input [(ngModel)]="credentials.title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="credentials.description"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item  >
        <ion-label>Elige la categoria</ion-label>
        <ion-select  [(ngModel)]="credentials.category_id" ok-text="OK" cancel-text="CANCEL">
            <ion-select-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" (click)="validator();">Crear categoria</ion-button>
    </div>
  

</ion-content> -->



<ion-content fullscreen="true">
  <ion-grid class="ion-no-padding">
    <!-- logo -->
    <ion-row class="header ion-align-items-start ion-align-items-stretch">
      <!-- Section form>-->
      <ion-col size="10" offset="1" size-md="6" offset-md="3">
        <form padding translucent="true">
          <ion-row class="ion-align-items-start">
            <ion-col size="12">
              <h1><strong class="">Producto,</strong> crear más</h1>
            </ion-col>
          </ion-row>
          <!-- Input-field -->
          <ion-row>
            <ion-col size="12">
              <div class="input-field">
                <!-- Input-field-name -->
                <ion-item >
                  <ion-slides pager="true" [options]="slideOpts">
                    <ion-slide>
                      <div class="container_document">
                        <label for="file-upload1">
                          <img [src]="credentials.picture == ''? imagenDefault : credentials.picture" class="imagen_document">
                          <div align="center" >
                            <br>
                            <span class="information">Cambiar imagen</span>                          
                          </div>
                        </label>
                        <input  id="file-upload1" type="file" accept="image/*" (change)="desktopGallery($event)">

                      </div>

                    </ion-slide>    
                  </ion-slides>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <ion-item>
                  <ion-row *ngIf="device == 2 || device == 3">
                    <ion-col size="12" >
                      <div align="center">
                        <span class="icons01" tappable (click)="openCamera()"><ion-icon name="md-camera"></ion-icon></span>
                        <span class="icons01" tappable (click)="openGalery()"><ion-icon name="md-images"></ion-icon></span>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-item>

                <!-- Input-field-name -->
                <ion-item >
                  <ion-input type="text" placeholder="Nombre" [(ngModel)]="credentials.name" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <!-- Input-field-text -->
                <ion-item >
                  <ion-input type="tel" placeholder="Cantidad" [(ngModel)]="credentials.quantity" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <ion-item >
                  <ion-input type="number" placeholder="Precio" [(ngModel)]="credentials.price" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <ion-item >
                  <ion-input type="number" placeholder="Oferta solo escriba el numero" [(ngModel)]="credentials.offer" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <!-- Input-field-name -->
                <ion-item >
                  <ion-input type="text" placeholder="Título" [(ngModel)]="credentials.title" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <!-- Input-field-name -->
                <ion-item >
                  <ion-textarea rows="6" cols="20" placeholder="Escribe algo aquí..." [(ngModel)]="credentials.description" [ngModelOptions]="{standalone: true}"></ion-textarea>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <!-- Input-field-select -->
                <ion-item >
                  <ion-select interface="popover" [(ngModel)]="credentials.category_id" ok-text="OK" cancel-text="CANCEL" placeholder="Eliga el producto" [ngModelOptions]="{standalone: true}">
                    
                    <ion-select-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</ion-select-option>

                  </ion-select>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
              </div>
              <!-- Login button -->
              <ion-col size="12" class="ion-no-padding">
                <button class="btnFull ion-no-margin" (click)="validator()">Guardar</button>
              </ion-col>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>