<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-title class="text-logo" color="light" size="small"><strong>Gestionando Pedido</strong></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row>
     <ion-col *ngFor="let orde of order;" size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" offset-md="3" offset-lg="3" offset-xl="4"> 

    
      <ion-card class="borderradius">
        <ion-card-header>

          <ion-chip class="derecha">
            <ion-label><i>Pendiente</i></ion-label>
          </ion-chip>
          <ion-item class="cardHeader">
            <ion-avatar slot="start">
              <img class="avatar" src="../assets/images/teloconsigo.png">
            </ion-avatar>
            <ion-label>
              <h3 class="text-name">{{orde.user.name}}</h3>
              <p class="text-sub-name">{{orde.created_at}}</p>
            </ion-label>
          </ion-item>         
        </ion-card-header>

        <ion-card-content>
          <ion-row class="cardPedido" >

              <ion-col size="5">
                <i>Nombre producto</i>
              </ion-col>
              <ion-col size="4" class="col-buttons-edit">
                
               
                  <ion-label  >Cantidad</ion-label>
                
                
              </ion-col>
              <ion-col size="3" class="cursorPointer">
                <ion-label>precio</ion-label>
              </ion-col>

          </ion-row>
        </ion-card-content>
        
        <ion-card-content>
          <ion-row class="cardPedido" *ngFor="let producto of orde.reservations ">

              <ion-col size="5">
                <i>{{producto.product.name}}</i>
              </ion-col>
              <ion-col size="4" class="col-buttons-edit">
               
                <ion-chip color="primary">
                  <ion-label >{{producto.quantity}}</ion-label>
                </ion-chip>
                
              </ion-col>
              <ion-col size="3" class="cursorPointer">
                <i>{{producto.product.price}}</i>
              </ion-col>

          </ion-row>
        </ion-card-content>

        <ion-card-content>
          <ion-row>

            <ion-col size="4">
              <span class="title-factura-left">Aplico cupon: </span>
            </ion-col>
            <ion-col size="8" *ngIf="orde.discount_vouncher_id == 1">
              <span class="ion-float-right title-factura-right">No</span>
            </ion-col>
            <ion-col size="8" *ngIf="orde.discount_vouncher_id > 1">
              <span class="ion-float-right title-factura-right">SI</span>
            </ion-col>

            <ion-col size="4" *ngIf="orde.discount_vouncher_id > 1">
              <span class="title-factura-left">nombre del cupon: </span>
            </ion-col>
            <ion-col size="8" *ngIf="orde.discount_vouncher_id > 1">
              <span class="ion-float-right title-factura-right">{{orde.discount_vouncher.code}}</span>
            </ion-col>

            <ion-col size="4" *ngIf="orde.discount_vouncher_id > 1">
              <span class="title-factura-left">Descuento cupon: </span>
            </ion-col>
            <ion-col size="8" *ngIf="orde.discount_vouncher_id > 1">
              <span class="ion-float-right title-factura-right">{{orde.discount_vouncher.price}}</span>
            </ion-col>

            <ion-col size="4">
              <span class="title-factura-left">Total a pagar: </span>
            </ion-col>
            <ion-col size="8">
              <span class="ion-float-right title-factura-right">{{ orde.total + ",00"}}</span>
            </ion-col>

            <ion-col size="4">
              <span class="title-factura-left">Cantidad Productos: </span>
            </ion-col>
            <ion-col size="8">
              <span class="ion-float-right title-factura-right">5</span>
            </ion-col>
            
            <ion-col size="4">
              <span class="title-factura-left">Teléfono: </span>
            </ion-col>
            <ion-col size="8">
              <span class="ion-float-right title-factura-right">{{orde.user.phone}}</span>
            </ion-col>
            
            <ion-col size="4">
              <span class="title-factura-left">Dirección: </span>
            </ion-col>
            <ion-col size="8">
              <span class="ion-float-right title-factura-right">{{orde.user.direction}}</span>
            </ion-col>
            
            <ion-col size="7" *ngIf="orde.domiciliary_id == 1">
              
                <ion-select interface="popover" [(ngModel)]="credentials.domiciliary_id" ok-text="OK" cancel-text="CANCEL" placeholder="Elija Domicilio" [ngModelOptions]="{standalone: true}">
                  
                  <ion-select-option *ngFor="let domiciliary of userDomiciliary"  value="{{domiciliary.domiciliaryId}}">{{domiciliary.domiciliaryName}}</ion-select-option>
                  

                </ion-select>
                <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
              
            </ion-col>

            <ion-col size="5" *ngIf="orde.domiciliary_id == 1">
              <ion-button expand="block" color="success" (click)="validatorDomiciliary()">Asignar</ion-button>
            </ion-col>

            <ion-col size="12" *ngIf="orde.domiciliary_id == 1">
              <ion-button expand="block" color="light" >Para enviar una orden asigna un domicilio</ion-button>
            </ion-col>
            <ion-col size="12" *ngIf="orde.domiciliary_id > 1">
              <ion-button expand="block" color="success" (click)="presentAlertConfirm()">Enviar Orden</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      
    </ion-col>
  </ion-row>
</ion-content>
