<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-title class="text-logo" color="light" size="small"><strong>Publicaciones</strong></ion-title>

  </ion-toolbar>
</ion-header>


<!-- <ion-content>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">

    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input [(ngModel)]="credentials.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="credentials.description"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Eliga el producto</ion-label>
      <ion-select [(ngModel)]="credentials.product_id" ok-text="OK" cancel-text="CANCEL">
        <ion-select-option *ngFor="let product of products" [value]="product.id"> {{ product.name }} </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" color="primary" type="submit" class="ion-no-margin" (click)="validator();">Publicar</ion-button>
  </div>

</ion-content> -->

<ion-content fullscreen="true">
  <ion-grid class="ion-no-padding">
    <!-- logo -->
    <ion-row class="header ion-align-items-start ion-align-items-stretch">
      <!-- Section form>-->
      <ion-col size="10" offset="1" size-md="6" offset-md="3">
        <form padding translucent="true">
          <ion-row class="ion-align-items-start">
            <ion-col size="12">
              <h1><strong class="text-logo">Publicaciones,</strong> crear más</h1>
            </ion-col>
          </ion-row>
          <!-- Input-field -->
          <ion-row>
            <ion-col size="12">
              <div class="input-field">
                <!-- Input-field-name -->
                <ion-item >
                  <ion-input type="text" placeholder="Título" [(ngModel)]="credentials.title" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <!-- Input-field-text -->
                <ion-item >
                  <ion-input type="text" placeholder="Descripción" [(ngModel)]="credentials.description" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <!-- Input-field-select -->
                <ion-item >
                  <ion-select interface="popover" [(ngModel)]="credentials.product_id" ok-text="OK" cancel-text="CANCEL" placeholder="Eliga el producto" [ngModelOptions]="{standalone: true}">
                    <ion-select-option *ngFor="let product of products" [value]="product.id"> {{ product.name }} </ion-select-option>
                  </ion-select>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
              </div>
              <!-- Login button -->
              <ion-col size="12" class="ion-no-padding">
                <button class="btnFull ion-no-margin" (click)="validator()">Guardar</button>
              </ion-col>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
