<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" offset-md="3" offset-lg="3" offset-xl="4">
      <ion-card>
        <img src="../../../assets/images/fondou.jpg" alt="">
    
        
          <ion-avatar >
            <img src="../../../assets/images/profile.jpg" alt="" class="img" >
          </ion-avatar>
       
    
        <div class="input-field">
          <ion-item >
            <ion-input type="text" value="333" [(ngModel)]="credentials.name"></ion-input>
            <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
          </ion-item>

          <ion-item >
            <ion-input type="number" placeholder=""  [(ngModel)]="credentials.phone" [ngModelOptions]="{standalone: true}"></ion-input>
            <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
          </ion-item>

          <ion-item >
            <ion-input type="text" placeholder="" [(ngModel)]="credentials.direction" [ngModelOptions]="{standalone: true}"></ion-input>
            <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
          </ion-item>
          
        </div>

        <ion-col size="12" >
          <ion-button expand="block" color="success" (click)="updateInfo()">Actualizar</ion-button>
        </ion-col>
        
      </ion-card>
    </ion-col>
    
  </ion-row>
  

</ion-content>
