<ion-tabs>
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-publication">
      <ion-icon name="add"></ion-icon>
      <ion-label>Agregar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>