<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-title class="text-logo" color="light" size="small"><strong>Pedidos pendientes</strong></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row>
     <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" offset-md="3" offset-lg="3" offset-xl="4"> 

    <!-- <ion-card class="borderradius" *ngIf="myReservations != '' "> -->
    <ion-card class="borderradius" *ngIf="myReservations.length;else sinReservacion">
    <ion-card-header>

        <ion-chip class="derecha">
        <ion-label><i>Pendiente</i></ion-label>
        </ion-chip>
        <ion-item class="cardHeader">
        <ion-avatar slot="start">
            <img class="avatar" src="../assets/images/teloconsigo.png">
        </ion-avatar>
        <ion-label>
            <h3 class="text-name">Te lo consigo</h3>
            <p class="text-sub-name">01/03/2020</p>
        </ion-label>
        </ion-item>         
    </ion-card-header>
    
    <ion-card-content>
        <ion-row class="cardPedido" *ngFor="let reservation of myReservations">

            <ion-col size="5">
            <i>{{reservation.productName}}</i>
            </ion-col>
            <ion-col size="6" class="col-buttons-edit">
            <ion-button size="small" tappable (click)="addRemove('-',reservation.reservationId,reservation.productQuantity,reservation.reservationQuantity)"><ion-icon name="remove"></ion-icon></ion-button>
            <ion-chip color="primary">
                <ion-label id="{{reservation.reservationId}}" >{{reservation.reservationQuantity}}</ion-label>
            </ion-chip>
            <ion-button size="small" tappable (click)="addRemove('+',reservation.reservationId,reservation.productQuantity,reservation.reservationQuantity)"><ion-icon name="add"></ion-icon></ion-button>
            </ion-col>
            <ion-col size="1" class="cursorPointer">
            <ion-icon name="trash" color="danger" (click)="presentAlertConfirm(reservation.reservationId)"></ion-icon>
            </ion-col>

        </ion-row>
    </ion-card-content>

    <ion-card-content>
        <ion-row>
        <ion-col size="4">
            <span class="title-factura-left">Total pedidos: </span>
        </ion-col>
        <ion-col size="8">
            <span class="ion-float-right title-factura-right">{{"$" + number}}</span>
        </ion-col>

        <ion-col size="4">
            <span class="title-factura-left">Total Artículos: </span>
        </ion-col>
        <ion-col size="8">
            <span class="ion-float-right title-factura-right">{{totalproduct}}</span>
        </ion-col>
        <ion-col size="4">
            <span class="title-factura-left">Nombre: </span>
        </ion-col>
        <ion-col size="8">
            <span class="ion-float-right title-factura-right">{{user.name}}</span>
        </ion-col>
        
        <ion-col size="4">
            <span class="title-factura-left">Teléfono: </span>
        </ion-col>
        <ion-col size="8">
            <span class="ion-float-right title-factura-right">{{user.phone}}</span>
        </ion-col>
        
        <ion-col size="4">
            <span class="title-factura-left">Dirección: </span>
        </ion-col>
        <ion-col size="8">
            <span class="ion-float-right title-factura-right">{{user.direction}}</span>
        </ion-col>
        <ion-col size="12">
            <ion-item >
            <ion-input type="tel" placeholder="cupon" (ionChange)="buscarCupon( $event )" ></ion-input>
                <ion-chip class="cuponv" color="primary" *ngIf="validCupon == 1">
                <ion-label class="ion-no-margin" >cupon valido</ion-label>
                </ion-chip>
                <ion-chip color="danger" class="cuponn" *ngIf="noValidCupon == 1">
                <ion-label class="ion-no-margin" >cupon invalido</ion-label>
                </ion-chip>
                
            </ion-item>
        </ion-col>
        <ion-col size="12">
            
            <ion-select [(ngModel)]="info[0].payment_method_id" interface="popover" ok-text="OK" cancel-text="CANCEL" placeholder="Eliga metodo de pago" [ngModelOptions]="{standalone: true}">
                
                <ion-select-option *ngFor=" let metodo of metodoPagos"  value="{{metodo.id}}">{{metodo.name}}</ion-select-option>

            </ion-select>
            <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
            
        </ion-col>
        <ion-col size="12" *ngIf="totalValor > minimo">
            <ion-button expand="block" color="success" (click)="validator()">Confirmar</ion-button>
        </ion-col>
        <ion-col size="12" *ngIf="minimo > totalValor">
            <ion-button expand="block" color="light" (click)="orderMinimum()">Total a pagar minimo 10K</ion-button>
        </ion-col>
        </ion-row>
    </ion-card-content>
    </ion-card>
    <ng-template #sinReservacion>
        <ion-card else class="borderradius">
          <ion-card-header>
  
            <ion-chip class="derecha">
              <ion-label><i>vacio</i></ion-label>
            </ion-chip>
            <ion-item class="cardHeader">
              <ion-avatar slot="start">
                <img class="avatar" src="../assets/images/teloconsigo.png">
              </ion-avatar>
              <ion-label>
                <h3 class="text-name">Te lo consigo</h3>
                <p class="text-sub-name">01/03/2020</p>
              </ion-label>
            </ion-item>         
          </ion-card-header>
          
          <ion-card-content>
            <ion-row class="cardPedido" *ngFor="let reservation of myReservations">
  
                <ion-col size="5">
                  <i>{{reservation.productName}}</i>
                </ion-col>
                <ion-col size="6" class="col-buttons-edit">
                  <ion-button size="small" tappable (click)="addRemove('-',reservation.reservationId,reservation.reservationQuantity, null)"><ion-icon name="remove"></ion-icon></ion-button>
                  <ion-chip color="primary">
                    <ion-label id="{{reservation.reservationId}}" >{{reservation.reservationQuantity}}</ion-label>
                  </ion-chip>
                  <ion-button size="small" tappable (click)="addRemove('+',reservation.reservationId,reservation.reservationQuantity, null)"><ion-icon name="add"></ion-icon></ion-button>
                </ion-col>
                <ion-col size="1" class="cursorPointer">
                  <ion-icon name="trash" color="danger" (click)="presentAlertConfirm(reservation.reservationId)"></ion-icon>
                </ion-col>
  
            </ion-row>
          </ion-card-content>
  
          <ion-card-content>
            <ion-row>
              <ion-col size="4">
                <span class="title-factura-left">Total pedidos: </span>
              </ion-col>
              <ion-col size="8">
                <span class="ion-float-right title-factura-right">{{ totalValor + ",00"}}</span>
              </ion-col>
  
              <ion-col size="4">
                <span class="title-factura-left">Total Artículos: </span>
              </ion-col>
              <ion-col size="8">
                <span class="ion-float-right title-factura-right">{{totalproduct}}</span>
              </ion-col>
              
              <ion-col size="4">
                <span class="title-factura-left">Teléfono: </span>
              </ion-col>
              <ion-col size="8">
                <span class="ion-float-right title-factura-right">+57 300-XXX-XXXX</span>
              </ion-col>
              
              <ion-col size="4">
                <span class="title-factura-left">Dirección: </span>
              </ion-col>
              <ion-col size="8">
                <span class="ion-float-right title-factura-right">Av. Calle</span>
              </ion-col>
              <ion-col size="12">
                <ion-button expand="block" color="success" (click)="refresh()">Actualizar carrido</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
    </ng-template>
    </ion-col>
  </ion-row>
</ion-content>