<!-- <ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/category"></ion-back-button>
    </ion-buttons>

    <ion-title>product</ion-title>
    
  </ion-toolbar>
</ion-header>
 -->

 <ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-title class="text-logo" color="light" size="small"><strong>Producto</strong></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col *ngFor="let product of products" size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
    
      <ion-card class="borderradius">

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/images/teloconsigo.png">
          </ion-avatar>
          <ion-label>
            <h3>Te lo consigo</h3>
            <p>Empresa sas</p>
          </ion-label>
          <ion-chip class="derecha" color="white" (click)="updateProduct(product.productId)">
            <ion-label >Editar</ion-label>
          </ion-chip>
        </ion-item>

        <div class="ion-text-center">
          <img class="image" src="{{product.productPicture}}">
        </div>

        <ion-card-header>
          <ion-col>
            <ion-chip color="primary">
              <ion-label>{{ "$" + product.productPrice }}</ion-label>
            </ion-chip>
            <ion-chip class="derecha" color="primary">
              <ion-label >disponible:  {{ product.productQuantity }} </ion-label>
            </ion-chip>
          </ion-col>
          
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>
            
            <ion-chip class="derecha" color="primary">
              <ion-label>{{ "$" + product.productPrice }}</ion-label>
            </ion-chip>

          </ion-card-title>

          <ion-card-title> {{ product.category }}</ion-card-title>
          <ion-card-subtitle> {{ product.productDescription }}</ion-card-subtitle>

        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

  
</ion-content>
