<ion-header></ion-header>

<!-- Themes  register-flat-->
<ion-content class="body">
  <br><br>
  <ion-grid class="ion-no-padding">
    <!-- logo -->
    <ion-row class="header ion-align-items-start ion-align-items-stretch">
      <ion-col size="10" offset="1" size-md="6" offset-md="3">
        <img class="logo" style="width: 50%; height: 50%;" src="../../../assets/images/teloconsigo.png" />
      </ion-col>

      <!-- Section form>-->
      <ion-col size="10" offset="1" size-md="6" offset-md="3">
        <form padding>
          <ion-row class="ion-align-items-start">
            <ion-col size="12">
              <h1 style="color: #3D3B3B;"><strong class="text-logo">Bienvenido,</strong> inicie sesión en tu cuenta</h1>
            </ion-col>
          </ion-row>
          <!-- Input-field -->
          <ion-row>
            <ion-col size="12">
              <div class="input-field">
                <!-- Input-field-text -->
                <ion-item >
                  <ion-input type="email" placeholder="Luis@correo.com" [(ngModel)]="credentials.email" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <!-- Input-field-password -->
                <ion-item >
                  <ion-input [type]="hideInputPassword ? 'password' : 'text' " placeholder="Contraseña" [(ngModel)]="credentials.password" [ngModelOptions]="{standalone: true}"></ion-input>

                  <ion-icon class="field-icon" *ngIf="hideInputPassword" name="eye-off" tappable (click)="hideInputPassword = !hideInputPassword"></ion-icon>
                  <ion-icon class="field-icon" *ngIf="!hideInputPassword" name="eye" tappable (click)="hideInputPassword = !hideInputPassword"></ion-icon>

                  <!-- <ion-label class="ion-no-margin" *ngIf="!isPasswordValid">Contraseña incorrecta</ion-label> -->
                </ion-item>
              </div>
              <!-- Login button -->
              <ion-col size="12" class="ion-no-padding">
                <button class="btnFull ion-no-margin" (click)="login()" [disabled]="credentials.email?.length < 3 || credentials.password?.length < 3">Login</button>
              </ion-col>
              
              
              <!-- Description -->
              <div class="description ion-text-center">
                <ion-row>
                 
                  <!-- Signup now button -->
                  <ion-col size="12" class="ion-padding" routerLink="/register">
                    <p class="ion-no-margin ion-no-padding">¿No tienes una cuenta? <a href="" class="cursorPointer">Regístrate ahora</a> </p>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


