<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="../assets/images/teloconsigo.png" alt="">
        <ion-label>
          <h2 class="text-long" *ngIf="user != '' ">{{user.name}}</h2>
          <p class="text-long">MENU</p>
        </ion-label>
      </div>
      <div class="action-button" *ngIf="user.rol == 2">
        <ion-button routerLink="/create-publication" (click)="closeMenu()"><ion-icon name="add-circle"></ion-icon><span class="font-weight-300">Publicar Oferta</span></ion-button>
      </div>
      <ion-list class="menu-items" lines="none">
        <ion-item menuClose routerLink="/lider" (click)="closeMenu()" *ngIf="user.rol == 6"> <ion-icon name="home"></ion-icon>Ver asesores</ion-item>
        <ion-item menuClose routerLink="/admin-lider" (click)="closeMenu()" *ngIf="user.rol == 2"> <ion-icon name="home"></ion-icon>Ver lideres</ion-item>

        <ion-item menuClose routerLink="/home" (click)="closeMenu()" *ngIf="user.rol == 2"> <ion-icon name="home"></ion-icon>Home</ion-item>
        <ion-item menuClose routerLink="/category" (click)="closeMenu()" *ngIf="user.rol == 2"> <ion-icon name="eye"></ion-icon>Ver categorias y productos</ion-item>
        <ion-item menuClose routerLink="/create-category" (click)="closeMenu()" *ngIf="user.rol == 2"> <ion-icon name="git-branch"></ion-icon>Crear categorias</ion-item>
        <ion-item menuClose routerLink="/create-product" (click)="closeMenu()" *ngIf="user.rol == 2"><ion-icon name="add"></ion-icon>Crear producto</ion-item>
        <ion-item menuClose (click)="action(0)" *ngIf="user.rol == 2"><ion-icon name="alert-circle-outline"></ion-icon>Pedidos pendientes</ion-item>
        <ion-item menuClose (click)="action(1)" *ngIf="user.rol == 2"><ion-icon name="thumbs-up"></ion-icon>Pedidos confirmados</ion-item>
        <ion-item menuClose (click)="action(2)" *ngIf="user.rol == 2"><ion-icon name="thumbs-down"></ion-icon>Pedidos entregados</ion-item>
        <ion-item menuClose (click)="action(3)" *ngIf="user.rol == 2"><ion-icon name="thumbs-down"></ion-icon>Pedidos no entregados</ion-item>
        <ion-item menuClose routerLink="/discount-cupon" (click)="closeMenu()" *ngIf="user.rol == 2"><ion-icon name="terminal-outline"></ion-icon>Cupones</ion-item>
        <ion-item menuClose routerLink="/domiciliary" (click)="closeMenu()" *ngIf="user.rol == 2"><ion-icon name="bicycle-outline"></ion-icon>Domiciliarios</ion-item>
        
        <ion-item menuClose (click)="action(4)" *ngIf="user.rol == 3"><ion-icon name="alert-circle-outline"></ion-icon>Mis pedidos</ion-item>
        <ion-item menuClose (click)="action(5)" *ngIf="user.rol == 3"><ion-icon name="thumbs-up"></ion-icon>Pedidos entregados</ion-item>
        <ion-item menuClose (click)="action(6)" *ngIf="user.rol == 3"><ion-icon name="thumbs-down"></ion-icon>Pedidos no entregados</ion-item>

        <ion-item menuClose routerLink="/home-client" (click)="closeMenu()" *ngIf="user.rol == 1"><ion-icon name="fast-food"></ion-icon>Productos</ion-item>
        <ion-item menuClose routerLink="/my-order" (click)="closeMenu()" *ngIf="user.rol == 1"><ion-icon name="cart"></ion-icon>Mi carrito</ion-item>
        <ion-item menuClose routerLink="/my-reserve" (click)="closeMenu()" *ngIf="user.rol == 1"><ion-icon name="receipt"></ion-icon>Mis compras</ion-item>
       <ion-item menuClose routerLink="/profile" (click)="closeMenu()" *ngIf="user.rol == 1"><ion-icon name="person"></ion-icon>Mi perfil</ion-item> 

        <ion-item menuClose routerLink="/login" (click)="sessionClose()" *ngIf="user != '' "><ion-icon color="primary" name="exit"></ion-icon>Salir</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>





  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
