
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-grid class="ion-no-padding">
    <!-- logo -->
    <ion-row class="header ion-align-items-start ion-align-items-stretch">

      <!-- Section form>-->
      <ion-col size="10" offset="1" size-md="6" offset-md="3">
        <form padding>
          <ion-row class="ion-align-items-start">
            <ion-col size="12">
              <h1><strong class="text-logo">Bienvenido,</strong> inicie sesión en tu cuenta</h1>
            </ion-col>
          </ion-row>
          <!-- Input-field -->
          <ion-row>
            <ion-col size="12">
              <div class="input-field">
                <!-- Input-field-name -->
                <ion-item >
                  <ion-input type="text" placeholder="Nombre" [(ngModel)]="credentials.name" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <!-- Input-field-text -->
                <ion-item >
                  <ion-input type="email" placeholder="Luis@correo.com" [(ngModel)]="credentials.email" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <!-- Input-field-password -->
                <ion-item >
                  <ion-input [type]="hideInputPassword ? 'password' : 'text' " placeholder="Contraseña" [(ngModel)]="credentials.password" [ngModelOptions]="{standalone: true}"></ion-input>

                  <ion-icon class="field-icon" *ngIf="hideInputPassword" name="eye-off" tappable (click)="hideInputPassword = !hideInputPassword"></ion-icon>
                  <ion-icon class="field-icon" *ngIf="!hideInputPassword" name="eye" tappable (click)="hideInputPassword = !hideInputPassword"></ion-icon>

                  <!-- <ion-label class="ion-no-margin" *ngIf="!isPasswordValid">Contraseña incorrecta</ion-label> -->
                </ion-item>
                <!-- Input-field-phone -->
                <ion-item >
                  <ion-input type="tel" placeholder="+57 300-XXX-XXXX" [(ngModel)]="credentials.phone" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <!-- Input-field-address -->
                <ion-item >
                  <ion-input type="text" placeholder="Av. calle" [(ngModel)]="credentials.direction" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>

                <ion-item >
                  <ion-select interface="popover" [(ngModel)]="credentials.department_id" (ionChange)="buscar( $event )" ok-text="OK" cancel-text="CANCEL" placeholder="Eliga el departamento" [ngModelOptions]="{standalone: true}">
                    
                    <ion-select-option *ngFor="let department of departments"  value="{{department.id}}">{{department.department}}</ion-select-option>
                    
                  </ion-select>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>

                <ion-item >
                  <ion-select interface="popover" [(ngModel)]="credentials.municipality_id" ok-text="OK" cancel-text="CANCEL" placeholder="Eliga el municipio" [ngModelOptions]="{standalone: true}">
                    
                    <ion-select-option *ngFor="let municipaliti of municipalitis"   value="{{municipaliti.id}}">{{municipaliti.municipality}}</ion-select-option>
                    

                  </ion-select>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                
              </div>
              <!-- Login button -->
              <ion-col size="12" class="ion-no-padding">
                <button class="btnFull ion-no-margin" (click)="validator()">Registrarme</button>
              </ion-col>
              
              
              <!-- Description -->
              <div class="description ion-text-center">
                <ion-row>
                  <ion-col size="12" class="ion-no-padding ion-no-margin">
                    <p class="ion-no-margin ion-no-padding">Ya tengo una cuenta, <a routerLink="/login" class="cursorPointer">inicia sesión</a> </p>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



