<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-title class="text-logo" color="light" size="small"><strong>Categorías</strong></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-row>
    <ion-col size="12" size-sm="12" size-md="8" size-lg="6" size-xl="6" offset-md="2" offset-lg="3" offset-xl="3">
      <ion-list class="card-categories">
        <ion-item *ngFor="let category of categories" (click)="getProducts(category.id)" detail>
          <ion-icon slot="start" name="cog-sharp" color="primary"></ion-icon>
          <ion-label color="dark">{{ category.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

    

</ion-content>
