<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
		<ion-menu-button color="light" menu="first"></ion-menu-button>
	  </ion-buttons>

    <ion-title class="text-logo" color="light" size="small"><strong>Pedidos pendientes</strong></ion-title>

  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <ion-row>
    <!-- <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" offset-md="3" offset-lg="3" offset-xl="4"> -->
    <ion-col *ngFor="let ordersPending of ordersPendings;" size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
      <ion-card class="borderradius" >
      	<ion-card-header>

      		<ion-chip class="derecha">
      			<ion-label><i>Pendiente</i></ion-label>
      		</ion-chip>
      		<ion-item class="cardHeader">
      			<ion-avatar slot="start">
      				<img class="avatar" src="../assets/images/teloconsigo.png">
      			</ion-avatar>
      			<ion-label>
      				<h3 class="text-name">{{ordersPending.userName}}</h3>
      				<p class="text-sub-name">{{ordersPending.orderCreated_at}}</p>
      			</ion-label>
      		</ion-item>      		
      	</ion-card-header>
        
        
        
        <ion-card-content>
        	<ion-row>
        		<ion-col size="5">
        			<span class="title-factura-left">{{ordersPending.orderCreated_at}}</span>
        		</ion-col>
        		<ion-col size="7">
        			<ion-button expand="block" color="success" (click)="manageOrder(ordersPending.orderId)">Gestionar</ion-button>
        		</ion-col>

        		
        	</ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>