<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-title class="text-logo" color="light" size="small"><strong>Asesores</strong></ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-row>
    <ion-col size="12" size-sm="12" size-md="8" size-lg="6" size-xl="6" offset-md="2" offset-lg="3" offset-xl="3">
      <ion-list class="card-categories">
        <ion-item *ngFor="let asesor of asesores"  detail>
          <ion-label color="dark">{{ asesor.name }}</ion-label>
          <ion-label slot="end"  color="dark">{{ asesor.category }}</ion-label>
        </ion-item>
        
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon [routerLink]="['/register-lider']" routerLinkActive="router-link-active"  name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>