<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="home-client">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="my-reserve">
        <ion-icon name="ribbon"></ion-icon>
        <ion-label>Mis pedidos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="my-order">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Mi carrito</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Mi perfil</ion-label>
      </ion-tab-button>
  
  
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
