ion-content{
  --ion-background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;  
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.derecha {
  float: right;
  background-color: #687DFC;
  color: white;
}

.borderradius {
  border-radius: 5%;
}

.state {
  float: right;
  color: white;
}

ion-card{
  --ion-background-color: white;
}
.avatar {
  object-fit: contain;
}
.image {
  width: 320px;
  height: 220px;
  object-fit: contain;
}

.text-name {
  color: #292F36;
  font-weight: 400;
}
.text-sub-name {
  color: #292F36;
}

ion-header{
  --ion-background-color: #687DFC;
}
.input-searchbar {
  --border-radius: 12px;
}