<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>

    <!-- <ion-searchbar color="light" class="input-searchbar" showCancelButton="focus" cancelButtonText="Custom Cancel" placeholder="Filter Schedules" animated></ion-searchbar> -->

    <ion-row>
      <ion-col size="12" size-sm="12" size-md="10" size-lg="8" size-xl="6" offset-md="1" offset-lg="2" offset-xl="3">
        <ion-searchbar color="light" class="input-searchbar" (ionChange)="buscar( $event )" showCancelButton="focus" cancelButtonText="Custom Cancel" placeholder="Buscar productos, marcas y más…" animated></ion-searchbar>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col *ngFor="let publication of publications | filtro: textoBuscar: 'productName'" size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
      <ion-card class="borderradius" >

        <ion-item class="cardHeader">
          <ion-avatar slot="start">
            <img class="avatar" src="../assets/images/teloconsigo.png">
          </ion-avatar>
          <ion-label>
            <h3 class="text-name">Te lo consigo</h3>
            <p class="text-sub-name">Empresa sas</p>
          </ion-label>
          <ion-chip class="derecha" color="white">
            <ion-label>{{publication.categoryName}}</ion-label>
          </ion-chip>
          
        </ion-item>

        <div class="ion-text-center">
          <img class="image" src="{{publication.productPicture}}">
        </div>
        <ion-card-header>
          <ion-col>
            <ion-chip color="primary">
              <ion-label>$: {{ formatNumber( publication.productPrice) }}/und</ion-label>
            </ion-chip>
            <ion-chip class="derecha" color="primary">
              <ion-label>Disponible: {{publication.productCuantity}}</ion-label>
            </ion-chip>
            <ion-chip class="derechaOfer" color="primary" *ngIf="publication.productOffer > 0">
              <ion-label><ion-icon name="pricetag"></ion-icon>-{{publication.productOffer}}%</ion-label>
            </ion-chip>
          </ion-col>
          
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>{{publication.productName}}</ion-card-title>
          <ion-card-subtitle>{{publication.publicationDescription}}</ion-card-subtitle>
        </ion-card-content>

        <ion-col size="12">
          <ion-button expand="block" color="success" (click)="setReservation(publication.productId, publication.productName);">¡Lo quiero!</ion-button>
        </ion-col>

        

      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="publications == ''">
    <ion-col *ngFor="let item of [1,1,1]" size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3" class="animate__animated animate__flash">
      <ion-card class="borderradius" >

        <ion-item class="cardHeader">
          <ion-avatar slot="start">
            <ion-skeleton-text width="100%"></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3 class="text-name"><ion-skeleton-text width="100%"></ion-skeleton-text></h3>
            <p class="text-sub-name"><ion-skeleton-text width="100%"></ion-skeleton-text></p>
          </ion-label>
          <ion-chip class="derecha" color="white">
            <ion-label><ion-skeleton-text width="100%"></ion-skeleton-text></ion-label>
          </ion-chip>
        </ion-item>

        <div class="ion-text-center">
          <ion-skeleton-text width="100%"></ion-skeleton-text>
        </div>
        <ion-card-header>
          <ion-col>
            <ion-chip color="primary">
              <ion-label><ion-skeleton-text width="100%"></ion-skeleton-text></ion-label>
            </ion-chip>
            <ion-chip class="derecha" color="primary">
              <ion-label><ion-skeleton-text width="100%"></ion-skeleton-text></ion-label>
            </ion-chip>
          </ion-col>
          
        </ion-card-header>
        <ion-card-content>
          <ion-card-title><ion-skeleton-text width="100%"></ion-skeleton-text></ion-card-title>
          <ion-card-subtitle><ion-skeleton-text width="100%"></ion-skeleton-text></ion-card-subtitle>
        </ion-card-content>

        <ion-col size="12">
          <ion-skeleton-text width="100%"></ion-skeleton-text>
        </ion-col>

        

      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
