<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card">
    <ion-header>
      <ion-card-title>ventas por día del mes</ion-card-title>
    </ion-header>
    <ion-content>
      <div class="chart-container">
        <canvas id="sales" ></canvas>
      </div>
    </ion-content>
  </ion-card>

  

</ion-content>
