<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>

    <ion-title class="text-logo" color="light" size="small"><strong> Mis pedidos confirmados</strong></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row>
     <ion-col *ngFor="let reservation of myReservationsOk" size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3"> 

    
      <ion-card class="borderradius">
        <ion-card-header>

          <ion-chip class="derecha">
            <ion-label><i>Confirmado</i></ion-label>
          </ion-chip>
          <ion-item class="cardHeader">
            <ion-avatar slot="start">
              <img class="avatar" src="../assets/images/teloconsigo.png">
            </ion-avatar>
            <ion-label>
              <h3 class="text-name">Te lo consigo</h3>
              <p class="text-sub-name">01/03/2020</p>
            </ion-label>
          </ion-item>         
        </ion-card-header>

        <ion-card-content>
          <ion-row class="cardPedido" >

              <ion-col size="5">
                <i>Nombre producto</i>
              </ion-col>
              <ion-col size="4" class="col-buttons-edit">
                
               
                  <ion-label  >Cantidad</ion-label>
                
                
              </ion-col>
              <ion-col size="3" class="cursorPointer">
                <ion-label>precio</ion-label>
              </ion-col>

          </ion-row>
        </ion-card-content>
        
        <ion-card-content>
          <ion-row class="cardPedido" *ngFor="let producto of reservation.reservations">

              <ion-col size="5">
                <i>{{producto.product.name}}</i>
              </ion-col>
              <ion-col size="4" class="col-buttons-edit">
                
               
                  <ion-label>{{producto.quantity}}</ion-label>
                
                
              </ion-col>
              <ion-col size="3" class="cursorPointer">
                <ion-label>{{formatNumber(producto.product.price)}} x und</ion-label>
              </ion-col>

          </ion-row>
        </ion-card-content>

        <ion-card-content>
          <ion-row>
            <ion-col size="4">
              <span class="title-factura-left">Total pagado: </span>
            </ion-col>
            <ion-col size="8">
              <span class="ion-float-right title-factura-right">{{formatNumber(reservation.total)}}</span>
            </ion-col>
            
            <ion-col size="12" *ngIf="reservation.state == 0">
              <ion-button expand="block" color="success" >Pedido generado</ion-button>
            </ion-col>
            <ion-col size="12" *ngIf="reservation.state == 1">
              <ion-button expand="block" color="primary" >Pedido en camino</ion-button>
            </ion-col>
            <ion-col size="12" *ngIf="reservation.state == 2">
              <ion-button expand="block" color="success" >Pedido entregado</ion-button>
            </ion-col>
            <ion-col size="12" *ngIf="reservation.state == 3">
              <ion-button expand="block" color="danger" >Pedido no entregado</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
