<!-- <ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back"></ion-icon>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <img class="logo" src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-standard.png?hl=es" />
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="credentials.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="credentials.description"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)="validator();">Crear categoria</ion-button>
  </div>
  
</ion-content> -->



<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="text-logo" color="light" size="small"><strong>Nueva categoría</strong></ion-title>

  </ion-toolbar>
</ion-header>

<!-- Themes  register-flat-->
<ion-content>
  <ion-grid class="ion-no-padding">
    <!-- logo -->
    <ion-row class="header ion-align-items-start ion-align-items-stretch">
      

      <!-- Section form>-->
      <ion-col size="10" offset="1" size-md="6" offset-md="3">
        <form padding>
          <ion-row class="ion-align-items-start">
            <ion-col size="12">
              <h1><strong class="text-logo">Categorías,</strong> crea una nueva categoría.</h1>
            </ion-col>
          </ion-row>
          <!-- Input-field -->
          <ion-row>
            <ion-col size="12">
              <div class="input-field">
                <!-- Input-field-text -->
                <ion-item >
                  <ion-input type="text" placeholder="Título" [(ngModel)]="credentials.name" [ngModelOptions]="{standalone: true}"></ion-input>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
                <!-- Input-field-text -->
                <ion-item >
                  <!-- <ion-input type="text" placeholder="Description" [(ngModel)]="credentials.description" [ngModelOptions]="{standalone: true}"></ion-input
                    > -->
                    <ion-textarea rows="6" cols="20" placeholder="Escribe algo aquí..." [(ngModel)]="credentials.description" [ngModelOptions]="{standalone: true}"></ion-textarea>
                  <!-- <ion-label class="ion-no-margin" *ngIf="!isUsernameValid">Correo no permitido</ion-label> -->
                </ion-item>
              </div>
              <!-- Login button -->
              <ion-col size="12" class="ion-no-padding">
                <button class="btnFull ion-no-margin" (click)="validator()">Guardar</button>
              </ion-col>

            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


